body {
    font-family: Arial, sans-serif;
    text-align: center;
	background-color: #323437;
}

form {
    margin-top: 20px;
}

img {
    max-width: 100%;
    margin-top: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
input, form, h1 {
	color: #ebeb05;
	/* color: white; */
}
